<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand" [routerLink]="['/']">KSA Parsival</a>
      </div>

      <ul class="nav navbar-nav">
        <li><a href="#" [routerLink]="['/']">Home</a></li>
        <li><a href="#" [routerLink]="['/inschrijven']">Inschrijven</a></li>
        <li><a href="#" [routerLink]="['/planning']">Planning</a></li>
        <li><a href="#" [routerLink]="['/verhuur']">Verhuur</a></li>
        <li><a href="#" [routerLink]="['/contact']">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
